body{font-size: 17px;}
.row{margin:0px;}

.theme-color {
  background-color: #ff7f04;
}
.theme-gradient{
	background: #2989d8; /* Old browsers */
	background: -moz-linear-gradient(left,  #2989d8 22%, #1e5799 77%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #2989d8 22%,#1e5799 77%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #2989d8 22%,#1e5799 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
}
.theme-gradient-2{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7f04+10,ffb76b+100 */
	background: #ff7f04; /* Old browsers */
	background: -moz-linear-gradient(left,  #ff7f04 10%, #ffb76b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ff7f04 10%,#ffb76b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ff7f04 10%,#ffb76b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f04', endColorstr='#ffb76b',GradientType=1 ); /* IE6-9 */
	-webkit-box-shadow: 10px 10px 38px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 38px -16px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 38px -16px rgba(0,0,0,0.75);
}
.theme-border{border:2px solid #ff7f04;}
.pull-center {
	text-align: center;
}
.cursor-text{cursor:text;}
.small-text{
	font-size: 14px;
}
.request-estimate input[type="text"], .request-estimate input[type="email"], .request-estimate select{
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:28px;
	margin-bottom:2px;
	padding-top:2px;
	padding-bottom:2px;
}
.vertical-center {
	vertical-align: middle;
	height: 100%;
}

.center {
	margin: 0 auto;
}

.btn {
	margin: 0 auto;
	text-align: center;
}
.service{margin:0px; padding:0px;}
.comment{margin:45px 0px; padding:0px;}
.comment-by{
	font-size:80%;
	text-align:center;
}
.summer-discount-text{color:#fff; font-weight:700;}

@media (min-width: 992px){
.summer-discount-text{
    text-align:right;
}
#call-now{
     margin: 0 auto;
}
}
.web{display:block;}
.mobile{display:none;}
@media (max-width: 992px){
.web{display:none;}
.mobile{display:block;}
.comment{margin:0px 0px 20px 0; padding:0px;}
.comment-by{text-align:left;}
.footer-buttons{margin-bottom:10px;}
}
/* Bubble with an isoceles triangle
------------------------------------------ */

.triangle-isosceles {
  position: relative;
  padding: 3px;
  margin: 0em 0 1em;
  color: #fff;
  background: #f3961c;
  border-radius: 2px;
  background: linear-gradient(top, #f9d835, #f3961c);
  font-size:90%;
}

/* creates triangle */
.triangle-isosceles:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;
}